<div class="mx-4 px-4">
    <card class="m-3 h-25 d-inline-block w-100 border-4 border">
        <div class="d-flex bg-secondary text-white py-3 m-1">
            <div class="mx-3 text-white">{{actualPost.title}}</div>
            <a class="a ms-auto text-white"></a>
            <div class="mx-2">Created {{format_date actualPost.date_created}} by {{actualPost.user.name}}</div>
        </div>
        <div class="d-flex m-3">{{actualPost.body}}</div>
    </card>
</div>

<div class="mx-4 px-4">
    <card class="m-3 h-25 d-inline-block w-100 border-4 border">
        <div class="d-flex bg-secondary text-white py-3 m-1">
            <div class="mx-3 text-white">Comments</div>
        </div>
        {{#if actualPost.comments}}
        {{#each actualPost.comments}}
        <div class="my-3">
            <div class="fw-bolder mx-3">{{format_date date_created}} || {{user.name}} said: </div>
            <div class="d-flex mx-3">{{body}}</div>
        </div>
        {{/each}}
        {{else}}
        <div> 
            <p class="ml-2 m-3">You have no comments.</p>
        </div>
        {{/if}}
    </card>
</div>

{{#if loggedIn}}
<div class="mx-4 px-4 hide" id="commentForm">
    <section class="card mb-5 m-3 h-20 d-inline-block w-95 border-4 border">
        <div class="card-header bg-secondary text-white">New Comment</div>
        <div class="card-body">
            <form class="newCommentForm">
                <div>
                    <input type="hidden" name="post_id" id="postIdValue" value="{{id}}">
                    <label class="form-label">Enter your Comment</label>
                    <input class="form-input w-95 mb-2" id="commentComment" type="text" name="post">
                </div>
                <button type="submit" class="bg-secondary text-white" id="submitComment">Submit</button>
            </form>
        </div>
    </section>
</div>

<div class="text-center mt-1">
    <button type="button" class="mx-auto title mb-5" style="width: 200px;" id="comment">Post your Comment</button>
</div>
{{else}}
<p class="mx-auto title" style="width: 300px;">Login to Comment on Posts</p>
{{/if}}

<script src="../js/comment.js"></script>